*.so
*.pem
*.vscode
*.log
*.pid
*.old
*.aof

admin/*/script
admin/*/*_config.lua*
admin/*/module_info*

world/*/script
world/*/*_config.lua*
world/*/module_info*

games/*/script
games/*/*_config.lua*
games/*/module_info*

redis-6.0.8
etc_prod
~*