#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
oops-plugin-framework/
oops-plugin-framework-tools/
oops-plugin-hot-update/
oops-plugin-excel-to-json/
oops_framework_remote/
library/
temp/
local/
profiles/
#//////////////////////////
# NPM
#//////////////////////////
# node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

node_modules